.Browse {
    background-color: #FFF;
}


/*
SORT BAR
*/
.browse_SortBar {
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.sortOptionsCon a {
    height: 30px;
}

.sortOptionsCon div {
    padding-left: 10px;
    margin-bottom: 3px;
}


/*
Category Banner
*/
.browse_catBanner {
    height: 300px;
    min-height: 300px;
    background-color: #FE7966;
}
    .browse_SortBar a:hover {
        color: blue;
    }


/*

*/
.browseContainer {
    height: auto;
    min-height: 500px;
}