.Dashboard {
    background-color: #FFFFFF;
}


/*
    Dashboard Sort Bar
*/
.dash_SortBar {
    background-color: #F9F9F9;
}


/*
    Dashboard Output Container
*/
.dash_OutputCon {
    background-color: #F9F9F9;
}