.slideshowContainer {
    min-height: 600px;
    border-bottom: 1px solid #cccccc;
}

.featuredItemContainer {
    min-height: 220px;
    border-radius: 12px;
    border: 1px solid #cccccc;
}
.featuredItemImage {
    min-height: 190px;
    background-color: #eeeeee;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}