.SignIn {
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.signInBox {
    width: 100%;
    height: auto;
    min-height: 600px;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
}
.si_leftCon {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    background-color: #F9F9F9;
    border-radius: 12px 0px 0px 12px;
    border-right: 1px solid #CCCCCC;
}
    .si_leftCon img {
        width: 80%;
        margin-top: 150px;
        margin-left: 5%;
        vertical-align: middle;
    }
.si_rightCon {
    background-color: #FFFFFF;
    border-radius: 12px 0px 0px 12px;
}
    .signInCon {
        padding-top: 120px;
    }
        .signInCon label {
            margin-top: 10px;
            margin-bottom: 2px;
        }